.container {
    display: flex;
    justify-content: space-between; 
    align-items: center;         
    background-color: white;
    width: 100%;
    height: 10vh;
    margin-top: 15vh;
    padding-left: 6vw;
    padding-right: 6vw;
                 
}
