.container {
    display: flex;
    justify-content: space-between; 
    align-items: center;         
    background-color: white;
    width: 100%;
    height: 10vh;
    margin-top: 5vh;
    padding-left: 10vw;;
    padding-right: 10vw;;
                 
}


.name {
  display: flex;
  color: var(--text-primary);
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  gap: 1em;
}