:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.main {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  width: 80vw;
  
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--foreground);

}

.page-content {
  padding-top: 15vh;
  padding-bottom: 15vh;
  padding-left: 6vw;
  padding-right: 6vw;
  width: 100%;
  height: 100%;


}

.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #1B1917;
  --text-secondary: #44403C;
  font-family: "Manrope", sans-serif;
 
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
