/* Typography */


.intro h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -2.4px;
  text-wrap: balance;
  color: var(--text-primary);
}

.intro p {
  font-size: 16px;
  line-height: 32px;
  text-wrap: balance;
  color: var(--text-secondary);
}
/* Layout */
.single {
  box-sizing: border-box;
  width: 100%;
  padding: 10vh 10vw;
  gap: 2em;
  display: flex;
  flex-direction: column;
  background-color: white;
}


.single h1 {
  font-size: 52px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -2.4px;
  text-wrap: balance;
  color: var(--text-primary);
}

.single p {
  font-size: 18px;
  color: var(--text-secondary)
}

.centered {
  align-items: center;
  text-align: center;
}



/* Grid */
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4em;
  width: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
}


@media (min-width: 1300px) {
  .grid {
  grid-template-columns: 1fr 1fr;
  
}
  
}
