.h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-wrap: balance;
  color: var(--text-primary);
}

.p {
  font-size: 18px;
  line-height: 32px;
  text-wrap: balance;
  color: var(--text-secondary);

}

.double {
  border: solid;
  color:red;

  display: grid;
  grid-template-columns: 2fr 1fr;
}

.container {
  border: solid;
  color: blue;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}


.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 24px;
}

.intro h1 {
  width: 100%;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -2.4px;
  text-wrap: balance;
  color: var(--text-primary);
}

.intro p {
  font-size: 18px;
  line-height: 32px;
  text-wrap: balance;
  color: var(--text-secondary);
}


.ctas {
  display: flex;
  gap: 10px;
  padding-top: 20px;
}

.single {
  display: grid;
  column-count: 1;
  justify-content: center;
  padding-top: 20vh;
  padding-left: 10vw;
  padding-right: 10vw;

}

.single h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -2.4px;
  text-wrap: balance;
  color: var(--text-primary);
}


