.primary {
    background-color: #788971;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.2s;
  }
  
  .primary:hover {
    background-color: #384C3F;
  }
  
  /* Secondary variant */
  .secondary {
    background-color: #e2e2e2;
    color: #333;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.2s;
  }
  
  .secondary:hover {
    background-color: #cfcfcf;
  }