.primary {
    background-color: #2B766F;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: solid;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.2s;
  }
  
  .primary:hover {
    background-color: #224E4A;
  }
  
  /* Secondary variant */
  .secondary {
    background-color: transparent;
    color: #2B766F;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: solid;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.2s;
  }
  
  .secondary:hover {
    background-color: transparent;
  }


   /* Tertiary variant */
   .tertiary {
    background-color: transparent;
    color: #333;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border-color: transparent;
    border: solid;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.2s;
  }