.s {
    font-size: 5rem;
    line-height: 1.1;
}

.m {
    font-size: 1.5em;
    line-height: 1.5rem;
}

.l {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.xl {
    font-size: 5rem;
    line-height: 6rem;
}
.title {
    color: #646469;
    font-weight: 600;

}