.container {
    width: 100%;
    box-sizing: border-box;
    border-radius: 1em;
}

.white {
    background-color: #ffffff;
}

.grey {
    background-color: #FBF9F8;
}

.content {
    display: flex;
    gap: 2rem;
    padding: 14vh 5vw;
    box-sizing: border-box;
    width: 100%;
}

.vertical {
    flex-direction: column;
}

.horizontal {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.start {
    align-items: flex-start;
    text-align: left;
}

.center {
    align-items: center;
    text-align: center;
}
