/* Active state */

.active {
  background-color: #FBF9F8;
  color: var(--text-primary);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s;
  font-family: "Poppins", sans-serif;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: .5em; 
  font-size: 18px;
}



/* Inactive state */
.inactive {
  background-color: transparent;
  color: var(--text-secondary);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
  font-size: 18px;
}

.inactive:hover {
  background-color: #FBF9F8;
}
